body{
    background-image: url('https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-size: cover;
}

.cadre{
   
 
    margin-top : 200px; 
    margin-left: 35%;  
    border: 2px solid grey;
    height: 500px;
    width: 400px;
    border-radius: 5%;
    background: linear-gradient(90deg, rgba(195,194,52,1) 7%, 
    rgba(171,152,39,0.8407563709077381) 65%, rgba(241,255,0,1) 100%);
}

.cadre2{
    margin: auto;
    margin-top: 10%;
    border: 2px solid red;
    height: 400px;
    width: 80%;
    
}

img{
  height: 400px;
   width: 320px;

}

h1{

    text-shadow:0 0 1px #D000FE,0 0 30px #D000FE;
    color:#D000FE;
    margin-left: 39%;
   top: 10%;

}